*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


body {
    background-size: cover;
    color: black;
    font-family: "Montserrat", sans-serif;
}
.container {
    max-width: 1240px;
    height: 100vh;
    margin: 0 auto;
    padding: 0 15px;

}
h1{
    display: flex;
    align-items:center;
    text-align: center;
    display: block;
}
.map {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map::after {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 100%;
    top: 0;
    left: 50%;
    background: whitesmoke;
    border-radius: 40px;
    padding: 10px;
}

.branch__block {
    transition: all 0.5s ease;
    z-index: 10;
    max-width: 350px;
    min-height: 150px;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid gray;
    background: lightgrey;
}
.branch__block:hover {
    transition: all 0.5s ease;
    transform: scale(1.05);
    max-width: 350px;
    min-height: 150px;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid rgb(0, 255, 64);
    background: lightgrey;
}

.branch {
    position: relative;
    display: flex;
    width: 50%;
}



.branch::after {
    content: "";
    position: absolute;
    display: block;
    height: 10px;
    width: 100%;
    top: 50%;
    left: 0;
    background: whitesmoke;
    z-index: -1;
}

.branch:nth-child(even) {
    margin-left: auto;
    justify-content: flex-end;

}

.branch:nth-child(odd) {
    margin-right: auto;
    justify-content: flex-start;
}

.branch__block:has(.branch__btn:checked) {
    background: lightgreen;
    border-color: green;
}


.branch__block:has(.branch__btn:checked) label {
    color: green;
}

@media(max-width:740px) {
    .branch::after {
        background: transparent;
    }
    .branch {
        width: 80%;
        margin-bottom: 50px;
        margin-right: auto;
        margin-left: auto;
    }

}

a{
    color: black;
    transition: all 0.3s ease

}
a:hover{
    color: chocolate;
    transition: 0.3s ease;
}
h2{
    color: black;
    position: center;
}
p{
    color: black;
    position: center;
}

label{
    color: red;
}
p2{
    text-align: center;
    display: block;
}
.branch__text{
    position: center;
}

